<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--oracle 数据库连接-->
    <add name="OracleConnStr" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = am3rpt.sac.flextronics.com)(PORT = 1558)))(CONNECT_DATA =(SERVICE_NAME = AM3P1)(SERVER = DEDICATED)));User ID=dmnBaanReader;Password=FlX_14ReadeR" />
  </connectionStrings>
</configuration>